.Contect-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    box-sizing: border-box;
   
}

.subdiv {
    text-align: center; /* Center the text inside the subdiv */
    height: auto;
    margin-top: 20px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    box-sizing: border-box;
}

.subdiv h3{
    background-color: rgb(20, 220, 160);
    padding: 0;
}
.Contect-container textarea
{
    margin-top: 20px;
    margin-right: 30px;
    font-size: 20px;
}

.Contect-container input[type="text"],input[type="email"],textarea
{
    border-radius: 20px;
    border: 2px solid aqua;
    background-color: black;
    color: white;
}

.Contect-container input[type="text"],input[type="email"],textarea:focus
{
   outline: 0;
}
.subdiv input[type="submit"]
{
    margin-top: 20px;
    padding: 20px;
    width: 20%;
    font-size: 20px;
    font-weight: bolder;
    background-color: crimson;
    color: black;
    border: none;
    border-radius: 20px;

}
.subdiv input[type="submit"]:hover
{
    
    background-color: rgb(20, 220, 203);
   
}
.subdiv h3{
    font-style: italic;
    font-weight: bolder;
}
